<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" 
      onsubmit="return confirm('¿Estás seguro de eliminar esta tarea?');" 
      style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn-cancel delete">ELIMINAR</button>
</form>
